.search-container {
  padding: 10% 15%;
  min-height: 80%;
}
.searchbar {
  margin: 0 auto 3rem;
  display: flex;
}
.searchButton {
  margin-left: 1rem;
}
.details-container {
  margin: 1rem auto;
  padding: 0.4rem 0;
  display: flex;
  border-bottom: 1px solid rgb(175, 175, 175);
}
.details-container img {
  width: 12rem;
  height: 12rem;
  margin-right: 1rem;
}
.details-container h5,
h6,
span {
  color: black;
}
.content-container {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail-title {
  text-align: left;
  color: #3399ff;
}

.descript {
  text-align: left;
}

.author {
  text-align: left;
}
.date {
  text-align: left;
}
.details-icon{
  margin-top: auto;
}
.details-icon span{
  font-size: 1.5rem;
}
.fas {
  margin-left: 1rem;
}
i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.fa-comment-alt {
  margin-right: 0.2rem;
  color: aliceblue;
  text-shadow: 0 0 1px #000;
}
.fa-star {
  color: rgb(252, 193, 0);
}
.fa-thumbs-up {
  color: rgb(7, 180, 248);
}


@media (max-width: 600px) {
  .search-container {
    padding: 10% 10%;
  }
  .details-container{
    flex-direction: column;
  }
  .details-container img {
    width: 80%;
    height: auto;
    margin: 0 auto 1rem auto;
    border-radius: 5%;
  }
}
