.review{
    padding: 0 10rem;
}
.container{
    display: flex;
    margin-bottom: 2rem;
}
.comment-container{
    width: 50%;
    padding: 1rem;
    margin: auto;
}
.comment-container .title,.comment{
    color: black;
}
.review-image{
    border-radius: 1rem;
    width: 40%;
    height: 40%;
}