.review{
    padding: 0 10%;
}
.container{
    display: flex;
    margin-bottom: 2rem;
}
.comment-container{
    width: 50%;
    padding: 1rem;
    margin: auto;
    min-width: 15.8rem;
}
.comment-container .title,.comment{
    color: black;
}
.review-image{
    border-radius: 1rem;
    width: 40%;
    height: 40%;
    min-width: 14.5rem;
}
.comment{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.text-truncate{
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
  }