img{
    width: 5rem;
}
.card{
    width: 40%;
    height: auto;
    border: none;
    margin: 0 1rem;
    background-color: #e8f1b5;
    /* #e8f1b5 */
}
.card-footer{
    border-radius:1rem;
    
}
.card-deck{
    display: flex;
    padding: 2rem 5rem;
}
.card-title, .card-text{
    color: #3b3b3b;
}